# The URL of the Telegram channel to scrape
CHANNEL_URL=https://t.me/s/caronline

# The maximum number of messages to process
LIMIT=19

# The directory to store cached data and downloaded files
CACHE_DIR=cache

# Bale Bot Configuration
BALE_BOT_TOKEN=
BALE_CHAT_ID=
